<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Holidays Info{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block head_css %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
        {% block head_js %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="{{ path('index') }}">{{ 'PublicHolidayInfo'|trans }}</a>
            </nav>
            <div class="container">
                <div class="row mt-4">
                    <div class="col-sm-2">{{ form(form) }}</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        {% if error is defined and error is not null %}
                            <div class="alert alert-warning" style="text-align: center;">{{ error }}{{ 'try again'|trans }}</div>
                        {% endif %}
                        {% if holidaysInfo is not empty %}
                        {% set holidaysCount = 0 %}
                            <div style="text-align: center;"><h4>{{ 'Holidays List'|trans }}</h4></div>
                                {% for month, holidays in holidaysInfo %}
                                    <div class="card mt-2 mb-2">
                                        <div class="card-header" style="text-align: center;">{{ date('2012-' ~ month ~ '-01') |date('F') }}</div>
                                        <div class="card-body">
                                            {% for holiday in holidays %}
                                                {% set holidaysCount = holidaysCount + 1 %}
                                                <div class="font-weight-bold">{{ holiday.name }}</div>
                                                <div>{{ holiday.date|date("d/m/Y") }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        {% if holidaysInfo is not empty %}
                            <div>{{ 'Total holidays'|trans }}: <b>{{ holidaysCount }}</b></div>
                        {% endif %}
                        {% if maxFreeDays is defined and maxFreeDays is not null %}
                            <div>{{ 'maxFreeDays'|trans }}: <b>{{ maxFreeDays }}</b></div>
                        {% endif %}
                        {% if currentDayStatus is defined and currentDayStatus is not null %}
                            <div>{{ 'current day'|trans }} ({{ "now"|date("d/m/Y") }}): <b>{{ currentDayStatus|trans }}</b></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script>
                $('#holiday_year').keyup(function(e){
                    if (/\D/g.test(this.value))
                        {
                            this.value = this.value.replace(/\D/g, '');
                        }
                });
            </script>
        {% endblock %}
    </body>
</html>
